/* BASE */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  border-radius: 0 !important;
}
html, body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	background-color: #eee;
	margin:0;
	padding: 0;
}
header {
	background-color: #ffc600;
	padding: 10px;
	width: 100%;
	text-align: center;
}
h1 {
	margin: 0;
	padding: 0;
}

/* LAYOUT */
.questionGrid {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	display: block;
}
.questionGrid div[class^="col-"] {
	padding: 3px;
}
.questionTile {
	width: 100%;
	height: 200px;
	display: block;
	padding: 20px;
	background-color: #fff;
	line-height: 160px;
	text-align: center;
	font-size: 4em;
	cursor: pointer;
}
.questionTile:hover, .questionTile:focus, .questionTile:active {
	background-color: #FFDC64;
}
.correct, .correct:hover, .correct:focus, .correct:active {
	background-color: #60A565;
}
.wrong, .wrong:hover, .wrong:focus, .wrong:active {
	background-color: #BC5E5C;
}
#questionModal ul {
	list-style-type: none;
	padding-left:10px;
}
@media (min-width: 768px) {
.modal-dialog {
	margin-top: 150px;
}
}

/* MODULES */

/* STATES */

/* THEME */