/* BASE */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  border-radius: 0 !important;
}
html, body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	background-color: #eee;
	margin:0;
	padding: 0;
}
header {
	background-color: #ffc600;
	padding: 10px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
h1 {
	font-weight: bold;
}
h1, h2 {
	margin: 0;
	padding: 0;
}
h2, h3 {
	font-size: 1.25em;
}
@media (min-width: 768px){
	h2 {
		font-size: 2em;
	} 
	h3 {
		font-size: 1.5em;
	}
}
/* LAYOUT */
.questionGrid {
	margin-bottom: 20px;
}
.questionGrid .questionTile {
	padding: 3px;
}
.questionTile > div {
    width: 100%;
	display: block;
	padding: 15px;
	background-color: #fff;
	text-align: center;
	font-size: 2em;
	cursor: pointer;
	border: #ddd solid 1px;
}
.questionTile > div:hover, .questionTile > div:focus, .questionTile > div:active, .questionTile > .selected {
	background-color: #FFDC64;
}
.questionTile > .selected {
	-webkit-box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.75);
}
.questionTile .correct, .questionTile .correct:hover, .questionTile .correct:focus, .questionTile .correct:active {
	background-color: #60A565;
	color:#fff;
}
.questionTile .wrong, .questionTile .wrong:hover, .questionTile .wrong:focus, .questionTile .wrong:active {
	background-color: #BC5E5C;
	color:#fff;
}

.correct .btn-success, .wrong .btn-success {
	display: none;
}
.result {
	text-transform: capitalize;
}
.unanswered .result, .result .glyphicon {
	display: none;
}
.correct .result, .wrong .result, .correct .result .glyphicon-ok, .wrong .result .glyphicon-remove {
	display: block;
}
.correct .result, .correct li.true, .text-success {
	color: #60A565;
}
.wrong .result, .wrong li.true, .text-danger {
	color: #BC5E5C;
}
.questionForm h4 {
	margin-bottom: 30px;
}
.questionForm ul {
	list-style-type: none;
	padding-left:10px;
}
.questionNav {
	padding-bottom: 30px; 
}

/* MODULES */

/* STATES */
.hide {
	display: none;
}
.show {
	display: block;
}
/* THEME */